body{
    font-family: 'Plus Jakarta Sans'!important;
    font-size: medium;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container
{
    flex:1;
}
.navbar
{
   height: 5rem;
   background-color: white;
}
.fa-compass
{
    color:#fe424d;
    height: 2rem;
}
.nav-link
{
    color:#222222 !important;
}
/* foooter*/

.f-info-links a
{
    text-decoration: none;
    color:#222222;


}
.f-info-links:hover{
    text-decoration: underline;
}

.f-info-socials,.f-info-brand,.f-info-links
{
    width:100%;
    vertical-align: middle;
    display: flex;
   align-items: center;
   justify-content: center;
}
.f-info-socials i
{
   
    font-size: 1.5rem;
    margin-right: 2rem;
}
.f-info{
    text-align: center;
   display: flex;
   height: 8rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items:space-evenly ;
}


.listing-card
{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body
{
    padding: 0 !important;
}
.listing-link
{
    text-decoration: none;
}

/*card effect*/
.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn
{
    background-color: #fe424d !important;
    border:none !important;
}
.edit-btn
{
    background-color: #fe424d !important;
    border:none !important;
}

.show-img
{
 height: 30vh;
 
}
.btns
{
  display: flex;

}
.show-card
{
    padding-left: 0;
    padding-right: 0;
}


#map { 
    height: 400px;
    width: 100vh;
 }